@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
.container{
    width: 80%;
    margin: auto;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.topbar .container{
    display: flex;
    justify-content: space-between;
}

.topbar .topbar__contact , .topbar__icons{
    display: flex;
    gap: 1rem;
    color: #fff;
    /* position: fixed; */
}

.topbar{
    background-color: #00796b;
    padding: .4rem 0;
   
}

/* Start Header Contact */
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links{
    display: flex;
    gap: 1rem;
    font-family:'Arial Narrow Bold';
}
.nav__links a{
    color: rgba(255, 255, 255, .5);
    font-weight: bold;
}
.nav__logo{
    display: flex;
}
.nav__logo h1{
    color: #fff;
}
.nav__logo h2{
    color:coral;
}

header{
    padding: .5rem ;
    background-color: #008374;
}

/* Start Hero */
.hero{
    background-color: #008374 ;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hero .container{
    display: flex;
    justify-content: space-between;
    align-items: center ;
   
}
.hero__text h2{
    font-size: 3rem;
    color: #fff;
}
.hero__text p{
    margin: 2rem 0;
    color: #fff;
}
.hero__text__btns{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.hero__text__btns a{
    color: #fff;
}
.hero__start a{
    background: rgba(255, 255, 255, .1) ;
    
    padding: .8rem 1.5rem;
    border-radius: 2rem;
}
.hero__wav i{
    border: .1rem solid #fff;
    padding: .6rem;
    border-radius: 50%;

}

.container .page__about{
    text-align: center;}
.container .page__about h2{
    color:#008374;
    font-weight: bold;
}
.container .page__about p{
    margin-top: 1rem;
    margin-bottom: 4rem;
}
.container .page__body{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.container .page__body__left img{
    width: 650px;
    height: 450px;
    border-radius: 3%;
    margin: 2rem 0;
}
.container .page__body__left p{
    margin: 1rem 0;
}
.container .page__body__right li {
    display: flex;
    gap: 10px;
}
.page__body__right .page__body__right__up i{
    color: #fff;
    background: #008374;
    width: 1.5rem;
    height: 1.5rem;
    padding: .3rem .6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;

}
.container .page__divs{
    display: flex;
    justify-content: space-between;
}

.container .page__divs .page__divs__lorem{
    width: 250px;
    height: 200px;
    background-color: #00796b;
   padding-top: 60px ;
   text-align: center;
   color: #fff;
   border-radius: 6%;
}
.container .page__divs .page__divs__sed{
    width: 250px;
    height: 200px;
    background-color: #00796b;
   padding-top: 60px ;
   text-align: center;
   color: #fff;
   border-radius: 6%;
}
.container .page__divs .page__divs__magni{
    width: 250px;
    height: 200px;
    background-color: #00796b;
   padding-top: 60px ;
   text-align: center;
   color: #fff;
   border-radius: 6%;
}
.container .page__divs .page__divs__nemo{
    width: 250px;
    height: 200px;
    background-color: #00796b;
   padding-top: 60px ;
   text-align: center;
   color: #fff;
   border-radius: 6%;
   
}
.container .page__divs i{
width: 2rem;
height: 2rem;
}
.container .page__absulote{
    position: relative;
    bottom: 6rem;
}

.container .page__body__right p{
    margin-bottom: 1rem;
}
.page__body__right .page__body__right__btn{
   width: 4.5rem;
   height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #008374;
    border-radius: 50%;
}
.container .page__body__right__img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://bootstrapmade.com/demo/templates/Impact/assets/img/about-2.jpg);
    background-size: 550px 450px;
    width: 550px;
    height: 450px;
    border-radius: 5%;
}
.container .page__images img{
    width: 70px;
    height: 70px;
}
.container .page__images{
    display: flex;
    justify-content: space-between;
    margin-top: 7rem ;
}
.container .page__people{
    display: flex;
    align-items: center;}
.container .page__people .people__image img {
    width: 750px;
    height: 750px;

}
.container .people__number .people__number__clients{
    display: flex;
    align-items: center;
    margin:1rem 0 ;
}
.container .people__number .people__number__projects{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.container .people__number .people__number__hours{
    display: flex;
    align-items: center;
    margin:1rem 0;
}
.container .page__people h1{
    font-weight: 900;
    color: #008374;
    margin-right: 1rem;
}
.container .page__btn{
    text-align: center ;
    background-image: url(https://tse2.mm.bing.net/th?id=OIP.5udQMpkSO9LR6pgd06wFeQHaEo&pid=Api&P=0&h=180) ;
    height: 500px;
    color: #fff;
    border-radius: 1%;
}
.container .page__btn .all{
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}
.container .page__btn .page__btn__bt{
    width: 4.5rem;
   height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #008374;
    border-radius: 50%;
}
.container .page__btn .page__btn__text h2{
margin: 2rem 0;
}
.page__btn__action{
    margin-top: 2rem;
}
.page__btn__action button{
    padding: .6rem 2.5rem;
    border-radius: 2rem;
    background: none;
    border-color: #fff;
}
.page__btn__action a{
    color: #fff;
}






